@import url('https://fonts.cdnfonts.com/css/poppins');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
                                                
}

.container {
    display: grid;
    grid-template-columns: 2fr 6fr 3fr;
    grid-template-rows: 70px 270px 235px 150px;
}

.card {
    color: white;
    outline: 2px solid white;
    padding: 1px;
}

.leftbar {
    display: grid;
    grid-row: 1 / span 4;
    padding: 10px 25px;
    row-gap: 15px;
}

.user-profil {
    display: flex;
    align-items: center;


    h3 {
            color: #016170;
            font-size: 25px;
            font-weight: 700;

    }

    span {
        width: 52px;
        height: 52px;
        background-color: #fff;
    }
}

.funcion-grop {
    color: #5C5C5C;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 30px;   
    row-gap:10px;

    span {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    img {
        width: 25px;
    }
}

#active {
    position: relative;
}

#active::before {
    content: "";
    width: 10px;
    height: 80%;
    background-color: #009393;
    position: absolute;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    left: -30px;
}

.support-service {
    width: 220px;
    height: 230px;
    display: flex;
    flex-direction: column;
    background-color: #A1D2FF;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;   
    border-radius: 16px; 
    

    h2 {
        color: #016170;
        width: 75px;
        font-weight: 600;
        font-size:  14px;
    }

    p {
        text-align: center;
        width: 160px;
        color: #068181;
        font-size: 12px;
        font-weight: 500;
    }

    img {
        width: 50px;
        display: block;
    }

    button {
        width: 140px;
        height: 40px;
        border-radius: 9px;
        border: none;
        background-color: #D9F4FF;
        font-weight: 600;
        color: #016170;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    grid-column: 2 / span 2;
    padding: 25px;

    h1 {
        color: black;
        font-weight: 500;
        font-size: 26px;
    }
}

.righ-bar {
    grid-column-start: 3;
    grid-row: 3 / span 5;
}