    @font-face {
    font-family: 'Segoe UI Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Regular'), url('Segoe UI.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Segoe UI Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Italic'), url('Segoe UI Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Segoe UI Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold'), url('Segoe UI Bold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Segoe UI Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold Italic'), url('Segoe UI Bold Italic.woff') format('woff');
    }

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #FFFAEB;
    position: relative;
}
#sheet1 {
    position: absolute;
    width: 900px;
    top: 120px;
}

#sheet3 {
    position: absolute;
    width: 900px;
    top: 2450px;
}

#sheet2 {
    position: absolute;
    width: 900px;
    top: 900px;
    right: 0;
}

.container {
    width: 85%;
    display: grid;
    height: 6000px;
    grid-template-columns: 100%;
    grid-template-rows: 100vh 3600px 1142px 472px;
    margin: 0 auto;
}

header {
    padding: 20px 0;

    nav {
        width: 100%;
        height: 77px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            width: 127px;
        }

        .languange {
            width: 33px;
        }

        span {
            cursor: pointer;
        }
    }
}

header > section {
    margin: 60px auto;
    width: 100%;
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between  ;

    span {
        text-align: center;

            h3 {
                font-size: 30px;
                color: #F9B800;
                text-transform: uppercase;
                font-weight: 700;
                font-family: 'Segoe UI Bold';
            }

            h1 {
                font-weight: 700;
                font-size: 70px;
                font-family: 'Segoe UI Bold';
                color: #262626;
            }
            }
    
            button {
                padding: 23px 50px;
                background-color: #F9B800;
                border-radius: 50px;
                border: none;
                font-weight: 600;
                font-size: 22px;
                color: #262626  ;
                font-family: 'Segoe UI Bold';
                display: flex;
                align-items: center;
                gap: 50px;
            }
}

.chek-list, .chek-listtwo {
    width: 100%;
    height: 110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    span {
        padding: 14px 40px 14px 20px;
        background-color: white;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 20px;
        gap: 5px;
        font-family: 'Segoe UI Regular';
    }
}

main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 700px 730px 670px 900px;
    row-gap: 150px ;

    .sect-1 {
        background-color: #F9B800;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 110px;
        gap: 100px;
    }   

    .sect-2 {
        background-color: #262626;
        display: flex;

        border-radius: 100px;
        justify-content: space-between;
        padding: 60px 100px;
        gap: 90px;

        .box-group {
            display: flex;
            gap: 40px;
        }
    }

    .sect-3 {
        display: flex;
        justify-content: space-between;
        padding: 100px;
        margin-top: 200px;
        background-color: #fff;
        border-radius: 100px;
        align-items: center;

        > img {
            width: 400px;
            height: 400px;
        }
    }

    .sect-4 {
        display: flex;
        background-color: #fff;
        padding: 100px;
        border-radius: 100px;
        justify-content: space-between;
        align-items: center;
        gap: 1px;

        > img {
            width: 550px;
            height: 550px;
        }

        > .text {
            width: 550px;
            height: 680px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h1 {
                font-size: 45px;
                font-weight: 700;
                font-family: 'Segoe UI Bold';;
                width: 500px;
            }

            button {
                width: 330px;
                padding: 19px 40px;
                background-color: #F9B800;
                font-weight: 700;
                color: #262626;
                font-size: 24px;
                font-family: 'Segoe UI Bold';
                border-radius: 500px;
                display: flex;
                border: none;
                align-items: center;
                gap: 60px;
            }
        }
    }
}

.chek-listtwo {
    width: 100%;
    height: 350px;
    justify-content: left;
    gap: 20px;

    span {
        padding: 10px 30px 10px 15px;
        background-color: #FFFAEB;
        gap: 10px;
        font-size: 18px;
    }
}

.sect-1 .text {
    width: 465px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > h1 {
        font-size: 43px;
        font-weight: 700;
        font-family: 'Segoe UI Bold';
    }

    > p {
        font-size: 18px;
        font-weight: 400;
        font-family: 'Segoe UI Regular';
    }

    > button {
        width: 330px;
        padding: 19px 40px;
        background-color: #262626;
        font-weight: 700;
        color: white;
        font-size: 24px;
        font-family: 'Segoe UI Bold';
        border-radius: 500px;
        display: flex;
        align-items: center;
        gap: 60px;
    }
}

article {
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 130px 160px repeat(6, 100px);
    row-gap: 20px;

    > .text {
        width: 892px;
        text-align: center;
        margin: 0 auto;
        h1 {
            color: #262626;
            font-size: 55px;
            font-weight: 700;
            font-family: 'Segoe UI Bold';
            text-align: center;
        }

        > p {
            width: 850px;
            font-size: 28px;
            font-weight: 400;
            font-family: 'Segoe UI Regular';
            text-align: center;
        }
    }

    span {
        width: 100%;
        display: flex; 
        padding: 20px 40px;
        background-color: #fff;
        border-radius: 40px;
        align-items: center;
        justify-content: space-between;

        img {
            width: 40px;
        }
        p {
            width: 900px;
        }
    }

}

.sect-1 > img {
    width: 500px;
}

.box-group {
    display: grid;
    grid-template-columns: repeat(2, 270px);
    gap: 40px;
}


.boxs {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.box2 {
    margin-top: 100px;
}

.box {
    padding: 40px;
    width: 210px;
    height: 310px;
    border-radius: 60px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    img {
        width: 60px;
    }

    span {
        display: flex;
        font-size: 65px;
        font-weight: 700;
        color: #262626;
        font-family: 'Segoe UI Bold';

        p {
            color: #F9B800;
        }
    }

    > p {
        font-weight: 700;
        font-size: 22px;
        color: #262626;
        font-family: 'Segoe UI Bold';
    }

    .mini-text {
        h6 {
            font-size: 18px;
            font-weight: 600;
            font-family: 'Segoe UI Regular';
        }
        
        p {
            font-size: 17px;
            font-weight: 350;
            color: #262626;
        }
    }
}

.sect-2 > .text {
    width: 520px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 150px 0;
}

.sect-2 > .text p {
    font-weight: 400;
    font-size: 18px;
    color: #F9B800;
    font-family: 'Segoe UI Regular';
}

.sect-2 > .text h1 {
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    font-family: 'Segoe UI Bold';
}

.sect-2 > .text button {
    width: 320px;
    padding: 21px 45px;
    border: none;
    border-radius: 50px;
    background: #fff;
    color: #262626;
    font-weight: 600;
    font-size: 22px;
    font-family: 'Segoe UI Bold';
    display: flex;
    align-items: center;
    gap: 50px;
}

.sect-3 .text {
    width: 900px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
        font-size: 50px;
        font-weight: 700;
        font-family: 'Segoe UI Bold';
    }

    p {
        font-weight: 400;
        font-size: 30px;
        color: #262626;
        font-family: 'Segoe UI Regular';
    }

    h4 {
        font-weight: 600;
        font-size: 25px;
        font-family: 'Segoe UI Bold';
    }

    .arrows {
        margin-top: 20px;
        display: flex;
        width: 110px;
        justify-content: space-between;

        button {
            border: none;
            cursor: pointer;
            background-color: transparent;

        }
    }
}

footer {
    background-color: #262626;
    border: 5px solid white;
    padding: 100px;
    border-radius: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > .text, .link {
        display: flex;
        justify-content: space-between;
    }
    
    h1 {
        width: 713px;
        font-size: 50px;
        font-weight: 700;
        font-family: 'Segoe UI Bold';
        color: white; 
    }

    button {
        padding: 23px 50px;
        border-radius: 50000px;
        display: flex;
        align-items: center;
        width: 300px;
        height: 70px;
        justify-content: space-between;
        font-size: 24px;
        font-weight: 700;
        font-family: 'Segoe UI Bold';
    }

    p {
        color: white;
        font-size: 22px;
        font-weight: 600;
        font-family: 'Segoe UI Regular';
    }
}

@media screen and (max-width: 377px) {
    header {
        display: flex;
        flex-direction: column;
        height: 1100px;

        section {
            height: 650px;
            span {
                h3 {
                    font-size: 16px;
                }
                h1 {
                    font-size: 35px;
                }
            }
            .chek-list {
                height: 400px;
                span {
                    padding: 12px 40px 14px 20px;
                    background-color: white;
                    border-radius: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 600;
                    font-size: 16px;
                    gap: 5px;
                    font-family: 'Segoe UI Regular';
                }
            }
        }

        button {
            width: 330px;
            padding: 15px 30px;
        }
    }

    main {
        grid-template-rows: 950px 2150px 730px 1200px;
        justify-content: space-between;

        .sect-1 {
            width: auto;
            padding: 20px 10px;
            border-radius: 50px;
            display: flex;
            gap: 0px;
            flex-direction: column-reverse;

            > img {
                width: 350px;
                height: 350px;
            }

            > .text {
                width: 290px;
                
                height: 550px;

                h1 {
                    font-size: 36px;
                    text-align: center;
                }

                p {
                    font-size: 19px;
                    text-align: center;
                }
                button {
                    width: 290px;
                    font-size: 19px;
                    padding: 16px 30px;
                }
            }
        }

        .sect-2 {
            padding: 20px 10px;
            border-radius: 50px;
            gap: 0px;
            flex-direction: column-reverse;

            .box-group {
                width: 290px;
                margin: 0 auto;
                flex-direction: column;

                .box2 {
                    margin-top: 0px;
                }
            }

            .text {
                margin: 0;
                width: 300px;
                height: 370px;
                text-align: center;

                h1 {
                    font-size: 35px;
                }

                button {
                    font-size: 18px;
                    width: 300px;
                }
            }
        }

        .sect-3 {
            flex-direction: column;
            margin-top: 0px;
            padding: 30px 30px;
            border-radius: 50px;
            justify-content: space-between;
            > img {
                width: 272px;
                height: 272px;
            }

            .text {
                width: 100%;
                text-align: center;
                height: 370px;

                h1 {
                    font-size: 29px;
                }
                p {
                    font-size: 16px;
                }
                h4 {
                    font-size: 24px;
                }
                .arrows {
                    margin: 0 auto;
                }
            }
        }
        
        .sect-4 {
            flex-direction: column-reverse;
            padding: 30px 30px;
            border-radius: 50px;

            > img {
                width: 350px;
                height: 350px;
            }

            > .text {
                width: 100%;
                text-align: center;
                height: 800px;
                gap: 30px;

                h1 {
                    width: 100%;
                    font-size: 35px;
                }

                .chek-listtwo {
                    height: 100%;
                    

                    span {
                        font-size: 16px;
                        width: 100%;
                    }
                }

                button {
                    width: 100%;
                    font-size: 16px;
                    padding: 16px 30px;
                }
            }
        }
    }

    article {
        width: 100%;
        grid-template-rows: 150px 230px repeat(6, auto);

        > .text {
            width: 100%;
            h1 {
                font-size: 36px;
            }
            p {
                width: 100%;
                margin: 10px 0;
                font-size: 18px;
            }

            
        }

        span {
            width: 80%;
            padding: 30px;
            align-items: start;
            h3 {
                font-size: 22px;
                width: 235px;
            }
            p {
                font-size: 16px;
                width: 235px;
                margin-top: 10px;
            }
        }
    }

    .container {
            grid-template-rows: 850px 5500px 1390px 472px;
            gap: 50px;
    }
}