@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

* {
    padding: 0;
    margin: 0;
}

:root {
    --text-font: 'SF Pro Display', sans-serif;

    --black-bgcolor: black;
    --white-bgcolor: white;

    --blue-bgbutton: #0071E3;
    --black-bgbutton: black;

    --nonecolor: transparent;

    --white-textcolor: white;
    --black-textcolor: #1D1D1F;
    --blue-textcolor: #0071E3;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 45px 2200px 1760px 705px 292px;
    font-family: var(--text-font);
}

header {
    display: flex;
    justify-content: center;

    nav {
        width: 1000px;
        display: flex;
        justify-content: space-between;

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        #menu {
            display: none;
        }
    }
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 692px 692px 1fr;
    gap: 8px;
}

.hero-sect {
    background-image: url(images/Figure.png) !important;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    align-items: center;
    gap: 10px;

    h1 {
        font-size: 55px;
        font-weight: 600;
        color: var(--black-textcolor);
    }

    p {
        font-size: 32px;
        font-weight: 400;
        color: var(--black-textcolor);
    }

    button {
        width: 120px;
        padding: 12px 22px;
        background-color: var(--blue-bgbutton);
        border: none;
        border-radius: 980px;
        color: var(--white-textcolor);
        margin-bottom: 65px;
    }

}

.sect2 {
    background-image: url(images/2sectimg.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    
    h1 {
        width: 170px;
        font-size: 55px;
        font-weight: 600;
        color: var(--white-textcolor);
        margin-top: 55px;
    }

    p {
        width: 480px;
        font-size: 32px;
        font-weight: 400;
        color: var(--white-textcolor);
    }
    .button-group {
        width: 409px;
        display: flex;
        justify-content: space-between;
    }

    button {
        width: auto;
        padding: 12px 22px;
        background-color: var(--nonecolor);
        border: none;
        font-size: 17px;
        border-radius: 980px;
        color: var(--blue-textcolor);
        border:2px solid var(--blue-bgbutton);
    }
}

.sect3 {
    background-image: url(images/Figure4.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;

    span {
        width: 100%;
        height: 55px;
        background-image:url(Icons/Heading2.svg) ;
        background-position: center;
    }

    p {
        width: 480px;
        font-size: 32px;
        font-weight: 400;
        color: var(--white-textcolor);
    }
    .button-group {
        width: 230px;
        display: flex;
        justify-content: space-between;
    }

    button {
        width: auto;
        padding: 12px 22px;
        background-color: var(--nonecolor);
        border: none;
        font-size: 17px;
        border-radius: 980px;
        color: var(--white-textcolor);
        border:2px solid var(--white-bgcolor);
        margin-bottom: 65px;
    }
}

.sect4 {
    background-image: url(images/bgevent.png) !important;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    align-items: center;
    gap: 10px;
    display: none;

    h1 {
        font-size: 55px;
        font-weight: 600;
        color: var(--black-textcolor);
    }

    p {
        font-size: 32px;
        font-weight: 400;
        color: var(--black-textcolor);
    }

    button {
        width: 120px;
        padding: 12px 22px;
        background-color: var(--blue-bgbutton);
        border: none;
        border-radius: 980px;
        color: var(--white-textcolor);
        margin-bottom: 40px;
        font-size: 17px;
        margin-top: 10px;
    }

}

article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 580px);
    row-gap: 8px;

    .product1, .product2, .product3, .product4, .product5, .product6, .product01, .product02 {
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
        

        .button-group {
            width: 230px;
            display: flex;
            justify-content: space-between;
        }

        h1 {
            font-size: 40px;
            font-weight: 600;
            margin-top: 35px;
        }

        p {
            width: 266px;
            text-align: center;
            font-size: 21px;
            font-weight: 400;
        }
        
        button {
            width: auto;
            padding: 12px 22px;
            background-color: var(--nonecolor);
            border: none;
            font-size: 18px;
            border-radius: 980px;
            color: var(--blue-bgbutton);
            border:2px solid var(--blue-bgbutton);
        }

        span {
            margin-top: 45px;
            width: 430px;
            height: 53px;
            background-position: center;
        }
    }

    .product01 {
        background-image: url(images/phone15.png);
        background-position-y: 30px;
        display: none;
    }

    .product02 {
        background-image: url(images/phonecamera.png);
        display: none;
    }

    .product1 {
        background-image: url(images/macbook.png);
    }

    .product2 {
        background-image: url(images/watch.png);
        span {
            background-image: url(images/watchimg.png);
        }
    }

    .product3 {
        background-image: url(images/ipad.png);
    }

    .product4 {
        background-image: url(images/airpods.png);
    }

    .product5 {
        background-image: url(images/icard.png);
        span {
            height: 33px;
            background-image: url(images/icardimg.png);
        }
    }

    .product6 {
        background-image: url(images/phone.png);
        span {
            height: 33px;
            background-image: url(images/phoneimg.png);
        }
    }
}

footer {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 667px auto;
    column-gap: 8px;

    .img1 {
        background-image:url(images/Link.png) ;
        background-size: cover;
        background-position: center;
    }

    .img2 {
        background-image:url(images/Link2.png) ;
        background-size: cover;
        background-position: center;
    }

    .img3 {
        background-image:url(images/Link3.png) ;
        background-size: cover;
        background-position: center;
    }

    .scrol-img {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 1 / span 3;
    }

    .circle {
        display: flex;
        width: 220px;
        justify-content: space-between;

        span {
            width: 8px;
            height: 8px;
            border-radius: 4px;
            background-color: #0000006B;
        }
    }
}

.musics {
    display: grid;
    grid-template-columns: repeat(5, 400px);
    grid-template-rows: 230px 62px;
    column-gap: 10px;
    overflow: scroll;

    .music1 {
        padding: 10px;
        background-color: #5824B4;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-size: 16px;
            font-weight: 500;
            color: var(--white-textcolor);
        }

        span {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: end;
            margin-bottom: 20px;

            img {
                width: 80px;
            }
        }
    }

    .music2 {
        background-image: url(images/Background.png);
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: end;


        h1 {
            font-size: 16px;
            font-weight: 500;
            color: var(--white-textcolor);
            margin: 20px;
        }
    }

    .music3 {
        background-image: url(images/Background2.png);
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: end;


        h1 {
            font-size: 16px;
            font-weight: 500;
            color: var(--white-textcolor);
            margin: 20px;
        }
    }

    .music4 {
        padding: 10px;
        background-color: #6A84C0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-size: 16px;
            font-weight: 500;
            color: var(--white-textcolor);
        }

        span {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: end;
            margin-bottom: 20px;

            img {
                width: 80px;
            }
        }
    }

    .music5 {
        background-image: url(images/backgraund3.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: end;


        h1 {
            font-size: 16px;
            font-weight: 500;
            color: var(--white-textcolor);
            margin: 20px;
        }
    }
}

@media screen and (max-width: 1440px) {

    main {
        grid-template-rows: 692px 800px 692px;
    }

    .hero-sect {
        display: flex;
        order: 7;
        h1 {
            font-size: 48px;
            font-weight: 600;
            color: var(--black-textcolor);
        }

        p {
            font-size: 24px;
            font-weight: 400;
            color: var(--black-textcolor);
        }
    }



    .sect2 {
        display: none;
    }

    .sect3 {
        order: 5;

        p {
            font-size: 22px;
        }
    }

    .sect4 {
        order: 4;
        display: flex;
    }

    article {
        .product01, .product02 {
            display: flex;
        }

        .product3, .product4 {
            display: none;
        }
    }

    .container {
        grid-template-rows: 45px 1800px 1760px 580px 260px;
    }

    footer {
            grid-template-rows: 553px auto;
    }
}

@media screen and (max-width:1025px) {

    .container {
        grid-template-rows: 45px 1800px 1550px 400px 260px;
    }

    footer {
            grid-template-rows: 363px auto;
    }
    main {
        grid-template-rows: 570px 650px 570px;
    }

    .hero-sect {
        background-image: url(images/Figure7.png) !important;
    }

    article {
        grid-template-rows: repeat(3, 490px);

        .product1, .product2, .product3, .product4, .product5, .product6, .product01, .product02 {
            h1 {
                font-size: 32px;
            }

            p {
                font-size: 19px;
            }
        }
    }
}

@media screen and (max-width: 770px) {
    .container {
        grid-template-rows: 45px 2140px 1490px 400px 260px;
    }
    main {
        grid-template-rows: 650px 830px 650px;
    }
    
    .catigory {
        display: none;
    }

    header {
        nav {
            width: 100%;
            justify-content: space-around;

            #apple-icon {
                width: 75%;
                justify-content: start;
            }

            #menu {
                display: flex;
                justify-content: center;
            }
        }
    }

    .hero-sect {
        background-image: url(images/Figure8.png) !important;

        h1 {
            font-size: 48px;
            font-weight: 600;
            color: var(--black-textcolor);
        }

        p {
            font-size: 24px;
            font-weight: 400;
            color: var(--black-textcolor);
        }
    }

    .sect4 {
        h1 {
            font-size: 48px;
        }

        p {
            font-size: 25px;
        }
    }

    article {
    grid-template-rows: repeat(3, 490px);
    }
}

@media screen and (max-width: 395px) {
    .catigory {
        display: none;
    }

    .container {
        grid-template-rows: 45px 2140px 2980px 535px 300px;
    }

    header {
        nav {
            width: 100%;
            justify-content: space-around;

            #apple-icon {
                width: 75%;
                justify-content: start;
            }

            #menu {
                display: flex;
                justify-content: center;
            }
        }
    }

    .hero-sect {

        h1 {
            font-size: 36px;
            font-weight: 600;
            color: var(--black-textcolor);
        }

        p {
            font-size: 19px;
            font-weight: 400;
            color: var(--black-textcolor);
        }

    }

    .sect4 {
        background-image: url(images/figure3.png) !important;
        h1 {
            font-size: 36px;
        }

        p {
            font-size: 23px;
        }
    }

    article {
        grid-template-columns:1fr;
        grid-template-rows: repeat(6, 490px);

        .product1, .product2, .product3, .product4, .product5, .product6, .product01, .product02 {
            h1 {
                font-size: 32px;
            }

            p {
                font-size: 19px;
            }
        }
    }

    footer {
        grid-template-rows: 495px auto;

        .img1 {
            background-image:url(images/Link01.png) ;
            background-size: cover;
            background-position: center;
        }

        .img2 {
            background-image:url(images/Link02.png) ;
            background-size: cover;
            background-position: center;
        }

        .img3 {
            background-image:url(images/Link03.png) ;
            background-size: cover;
            background-position: center;
        }
    }
}

