@import url('https://fonts.cdnfonts.com/css/inter');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1.6fr 6.5fr 2fr;
    grid-template-rows: 60px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-bottom: 1px #1C1C1C1A solid;
    padding: 0 30px;
}

header button {
    border: none;
    background-color: #fff;
}

.icon-breadcrumb {
    display: flex;
    column-gap: 15px;
}

.icon-breadcrumb div {
    display: flex;
    column-gap: 15px;
}

.breadcrumb span {
    font-size: 14px;
    font-weight: 400;
    color: #1C1C1C66;
    word-spacing: 12px;
}

.breadcrumb span em {
    font-size: 14px;
    font-weight: 400;
    color: black;
    font-style: normal;
}


.search {
    display: flex;
    column-gap: 20px;
}

.search-system {
    display: flex;
    column-gap: 5px;
    background-color: #1C1C1C0D;
    padding: 4px 8px;
        border-radius: 8px;
}

.search-system input {
    background-color: transparent;
    border: none;
    outline: none;
    color: #1C1C1C33;
}

.search-system input::placeholder {
    color: #1C1C1C33;
}

.searchIcon-group {
    display: flex;
    gap: 10px;
}

.sidebar {
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 31px 90px 148px 300px 80px;
    row-gap: 20px;
    border-right: 1px #1C1C1C1A solid;
    grid-row: 1 / span 2;
    font-size: 14px;
}

.badge {
    display: grid;
    grid-template-columns: 30px 100px;
    align-items: center;
    margin: 17px 0 0 20px;
}


.sidebar-card {
    display: grid;
    grid-template-columns: 74px 78px;
    grid-auto-rows: 28px 50px;
    column-gap: 15px;
    row-gap: 5px;
    margin-left: 20px;
}

.favorites {
    color: #1C1C1C66;
}

.recently {
    text-align: center;
    color: #1C1C1C33;
}

.sidebar-list {
    display: grid;
    grid-column: 1 / span 2;
    row-gap: 10px;
}

.sidebar-list li {
    font-size: 14px;
    font-weight: 400;
    list-style-position: inside;
    text-indent: 10px;
}

.sidebar-list li::marker {
    color: #1C1C1C33;
}

.dashboard-card {
    display: grid;
    margin-left: 20px;
    row-gap: 10px;

}

.dashboard-list {
    display: grid;
    grid-auto-flow: row;
    grid-auto-columns: 190px;
    grid-auto-rows: 25px;
    list-style: none;
    padding: 0;
    row-gap: 5px;
}

.dashboard-list li {
    display: flex;
    align-items: center;    
    font-size: 14px;
    font-weight: 500;
    color: #1C1C1C;
    border-radius: 10px;
    padding: 5px 10px;
    gap: 10px;
    position: relative;
}

.dashboard-list li::before {
    content: "›";
    color: #D1D5DB;
    margin-right: 5px;
    font-size: 25px;
}

.dashboard-list li img {
    width: 20px;
    height: 20px;
}

.dashboard-list li.active {
    font-weight: 600;
    margin-left: 25px;
}

.dashboard-list li.active::before {
    content: "";
    width: 3px;
    height: 60%;
    background-color: #111827;
    border-radius: 50px;
    position: absolute;
    left: -25px;
    top: 5px;
}

.pages {
    display: grid;
    grid-template-columns: 180px;
    grid-template-rows: 25px 260px;
    margin-left: 20px;
    row-gap: 10px;
}

.page-list {
    position: relative;
    display: grid;
    row-gap: 5px;
    grid-auto-flow: row;
    grid-auto-rows: 25px 100px ;
    grid-template-rows:25px 100px repeat(4, 25px);
    list-style-type: none;
}

.page-list li {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.indent-list {
    display: grid;
    text-indent: 48px;
    list-style-type: none;
}

.page-list > li.active {
    margin-left: 18px;
}

.page-list > li.active::before {
    content: "▾";
    position: absolute;
    left: -10px;
    top: 0px;
}

.page-list > li::before {
    content: "›";
    color: #D1D5DB;
    margin-right: 10px;
    font-size: 25px;
}

.logo {
    width: 100px;
    padding-top: 40px;
    margin: 0 auto;
}

.frame {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.rightbar {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 210px 235px 210px;
    grid-template-columns: 250px;
    grid-row: 1 / span 2;
    border-left: 1px solid #1C1C1C1A;
    padding-left: 20px;
    row-gap: 15px;
}

.notification, .activities, .contacts {
    display: grid;
    grid-template-rows: 30px repeat(4, 40px) ;
    list-style-type: none;

    li {
        display: flex;
        column-gap: 10px;
    }
}

.notification {
    padding-top: 15px;
}

.activities{
    grid-template-rows: 30px repeat(5, 40px) ;
}
.contacts {
    row-gap: 5px;
    grid-template-rows:repeat(7, 25px) ;
    li {
        align-items: center;
    }
}


.text-span h4{
    font-size: 14px;
    font-weight: 400;
}

.text-span p{
    font-size: 13px;
    font-weight: 400;
    color: #1C1C1C66;
    padding-top: 3px;
}

.frame {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 115px 330px 280px;
    padding: 50px 30px;
    row-gap: 20px;
    column-gap: 20px;
}

.card {
    background-color: #E3F5FF;
    border-radius: 16px;
    align-items: center;
    padding: 25px;

    span {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        align-items: center;

        h2 {
            font-size: 24px;
            font-weight: 800;
        }

        p {
            font-size: 12px;
            font-weight: 400;
            display: flex;
            align-items: center;
            color: #1C1C1C;
        }
    }

    h4 {
        font-size: 14px;
        font-weight: 400;
    }
}

.user-static {
    grid-column:  1 / span 3;
}

.device {
    grid-column: 1 / span 2;
}

.location {
    grid-column: 3 / span 2;
} 