@import url('https://fonts.cdnfonts.com/css/inter');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.container {
    display: grid;
    column-gap: 30px;
    grid-template-columns: 1.6fr 6.5fr 2fr;
    grid-template-rows: 60px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

header button {
    border: none;
    background-color: #fff;
}

.icon-breadcrumb {
    display: flex;
    column-gap: 15px;
}

.icon-breadcrumb div {
    display: flex;
    column-gap: 15px;
}

.breadcrumb span {
    font-size: 14px;
    font-weight: 400;
    color: #1C1C1C66;
    word-spacing: 12px;
}

.breadcrumb span em {
    font-size: 14px;
    font-weight: 400;
    color: black;
    font-style: normal;
}


.search {
    display: flex;
    column-gap: 20px;
}

.search-system {
    display: flex;
    column-gap: 5px;
    background-color: #1C1C1C0D;
    padding: 4px 8px;
        border-radius: 8px;
}

.search-system input {
    background-color: transparent;
    border: none;
    outline: none;
    color: #1C1C1C33;
}

.search-system input::placeholder {
    color: #1C1C1C33;
}

.searchIcon-group {
    display: flex;
    gap: 10px;
}

.sidebar {
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 32px 104px 148px 300px 36px;
    row-gap: 27px;
    border-right: 1px #1C1C1C1A solid;
    grid-row: 1 / span 2;
}

.badge {
    display: grid;
    grid-template-columns: 30px 100px;
    align-items: center;
    margin: 17px 0 0 20px;
}


.sidebar-card {
    display: grid;
    grid-template-columns: 74px 78px;
    grid-auto-rows: 28px 50px;
    column-gap: 15px;
    row-gap: 5px;
    margin-left: 20px;
}

.favorites {
    color: #1C1C1C66;
}

.recently {
    text-align: center;
    color: #1C1C1C33;
}

.sidebar-list {
    display: grid;
    grid-column: 1 / span 2;
    row-gap: 10px;
}

.sidebar-list li {
    font-size: 14px;
    font-weight: 400;
    list-style-position: inside;
    text-indent: 10px;
}

.sidebar-list li::marker {
    color: #1C1C1C33;
}

.dashboard-card {
    display: grid;
    margin-left: 20px;
    row-gap: 10px;

}

.dashboard-list {
    display: grid;
    grid-auto-flow: row;
    grid-auto-columns: 190px;
    grid-auto-rows: 25px;
    list-style: none;
    padding: 0;
    row-gap: 5px;
}

.dashboard-list li {
    display: flex;
    align-items: center;    
    font-size: 14px;
    font-weight: 500;
    color: #1C1C1C;
    border-radius: 10px;
    padding: 5px 10px;
    gap: 10px;
    position: relative;
}

.dashboard-list li::before {
    content: "›";
    color: #D1D5DB;
    margin-right: 5px;
    font-size: 25px;
}

.dashboard-list li img {
    width: 20px;
    height: 20px;
}

.dashboard-list li.active {
    font-weight: 600;
    margin-left: 25px;
}

.dashboard-list li.active::before {
    content: "";
    width: 3px;
    height: 60%;
    background-color: #111827;
    border-radius: 50px;
    position: absolute;
    left: -25px;
    top: 5px;
}

.pages {
    display: grid;
    grid-template-columns: 180px;
    grid-template-rows: 25px 260px;
    margin-left: 20px;
    row-gap: 10px;
}

.page-list {
    position: relative;
    display: grid;
    row-gap: 5px;
    grid-auto-flow: row;
    grid-auto-rows: 25px 100px ;
    grid-template-rows:25px 100px repeat(4, 25px);
    list-style-type: none;
}

.page-list li {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.indent-list {
    display: grid;
    text-indent: 48px;
    list-style-type: none;
}

.page-list > li.active {
    margin-left: 18px;
}

.page-list > li.active::before {
    content: "▾";
    position: absolute;
    left: -10px;
    top: 0px;
}

.page-list > li::before {
    content: "›";
    color: #D1D5DB;
    margin-right: 10px;
    font-size: 25px;
}

.logo {
    width: 100px;
    margin: 0 auto;
}

.frame {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}